[Unit]
Description=App Compose Service
After=dstack-prepare.service dstack-guest-agent.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=-/dstack/.host-shared/.decrypted-env
WorkingDirectory=/dstack
ExecStart=/bin/app-compose.sh
ExecStop=/bin/app-compose.sh stop
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
